<script>
$(function(){
  $('.datepicker').datepicker({format:"yyyy-mm-dd", "weekStart": 1,"autoclose": true});
});
</script>
<div id="tasks">
  <h1><%= @task.master_task_id.nil? ? "New Task": "New Sub Task" %></h1>
  <%= form_for @task, :remote => :true,  :html => { :class => "form_horizontal", :id => "new_post" } do |f|%>
    <% if !@task.master_task_id.nil? %>
      <%= f.hidden_field(:master_task_id)%>
    <% end %>
    <% if @task.errors.any? %>
      <div id="errorExplanation">
	<h2><%= pluralize(@task.errors.count, "error") %> prohibited
          this post from being saved:</h2>
	<ul>
	  <% @task.errors.full_messages.each do |msg| %>
	  <li><%= msg %></li>
	  <% end %>
	</ul>
      </div>
    <% end %>
    
    <div class="control-group">
      <label class="control-label" for="inputEmail">Name</label>
      <div class="controls">
	<%= f.text_field :name, :required => :true%>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="inputPassword">Start Date</label>
      <div class="controls">
	<%= f.text_field :start_date, :required => :true, :class => 'datepicker' %>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="inputPassword">End Date</label>
      <div class="controls">
        <%= f.text_field :end_date, :required => :true , :class => 'datepicker'%>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="inputPassword">Description</label>
      <div class="controls">
        <%= f.text_field :description, :required => :true %>
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
	<button type="submit" class="btn">Submit</button>
	<% if @task.is_subtasks? %>
	  <%= link_to "cancel", task_path(@task.master_task), :remote => :true, :class => "btn" %>
	<% else %>
	  <%= link_to "cancel", tasks_path, :class => "btn", :remote => :true  %>
	<% end %>
      </div>
    </div>
  <% end %>
</div>
